
<% form_for(@incident, :url => { :action => "update" }) do |f| %>
<table width="100%">
  <tr>
    <td valign="top"><b><span style="color:blue;">File:</span></b></td>
    <td valign="top"><%= @incident.uri %></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">ICN:</span></b></td>
    <td valign="top"><%= @incident.ICN %></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">Date:</span></b></td>
    <td valign="top"><%= @incident.IncidentDate %></td>
  </tr>
  <tr>
    <td><b><span style="color:blue;">Subject:</span></b></td>
    <td><%= f.text_field :Subject %></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">Summary:</span></b></td>
    <td valign="top"><%= @incident.Summary %></td>
  </tr>
  <hr/>
</table>
    <%= f.hidden_field :uri, :value => @incident.uri %>
    <%= f.submit 'Submit' %>
<% end %>