
<% form_for(@incident, :url => { :action => "update" }) do |f| %>
<table width="100%">
  <tr>
    <td valign="top"><b><span style="color:blue;">File:</span></b></td>
    <td valign="top"><%= @incident.uri %></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">ICN:</span></b></td>
    <td valign="top"><%= @incident.ICN.text %></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">Date:</span></b></td>
    <td valign="top"><%= @incident.IncidentDate.text %></td>
  </tr>
  <tr>
    <td><b><span style="color:blue;">Subject:</span></b></td>
    <td><input id="incident_Subject" name="incident[Subject]" size="30" type="text" value='<%= @incident.Subject.text -%>' /></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">Summary:</span></b></td>
    <td valign="top"><%= @incident.Summary.text %></td>
  </tr>
  <hr/>
</table>
    <%= f.hidden_field :uri, :value => @incident.uri %>
    <%= f.submit 'Submit' %>
<% end %>