

<table width="100%">
  <tr>
    <td valign="top"><b><span style="color:blue;">File:</span></b></td>
    <td valign="top"><%= @incident.uri %></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">ICN:</span></b></td>
    <td valign="top"><%= @incident.ICN.text %></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">Date:</span></b></td>
    <td valign="top"><%= @incident.IncidentDate.text %></td>
  </tr>
  <tr>
    <td><b><span style="color:blue;">Subject:</span></b></td>
    <td><%= @incident.Subject.text %></td>
  </tr>
  <tr>
    <td valign="top"><b><span style="color:blue;">Summary:</span></b></td>
    <td valign="top"><%= @incident.Summary.text %></td>
  </tr>
    <tr>
    <td valign="top"><b><span style="color:blue;">Weapon Type:</span></b></td>
    <td valign="top"><%= @incident.WeaponTypeList.WeaponType.text %></td>
  </tr>
  <hr/>
</table>
<%= link_to("Edit...",{:action => "edit", :uri => @incident.uri}) %><br/>
<%= link_to("See original XML", { :action => "show_raw", :uri => @incident.uri, :query => @query}, :popup => true) %>